body {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    background-image: url(images/watercolor.png);
    margin: 0;
    padding: 0;
}

.pozvanka {
    margin: 0 30%;
    background-color: white;
    height: 100vh;
}

.pozvanka img {
    width: 100%;
}

.pozvanka p {
    text-align: justify;
    padding: 10px;
}